<footer>

        <div class="logof">
            <h1>SprintBooks</h1>
        </div>
        <nav>
            <ul id="celularf">
                <li> <a href="./">Home</a></li>
                <li> <a href="./#caixaApresetacao">Sobre</a></li>
                <li><a href="#">Categoria</a></li>
                <li> <a href="./#caixaApresetacao">Sobre</a></li>
            </ul>
            <ul id="compf">
                <li> <a href="./">Home</a></li>
               
                <li> <a href="./#caixaApresetacao">Sobre</a></li>
                <li> <a href="./favorites">Favoritos</a></li>
            </ul>
        </nav>

</footer>
