<header>
    <div class="logo">
        <h1>SprintBooks</h1>
    </div>
    <nav>
        <ul id="celular">
            <li> <a href="./">Home</a></li>
            <li> <a href="./#caixaApresetacao">Sobre</a></li>
            <li class="dropdown">
                <a href="#" class="dropbtn">Categoria</a>
                <div class="dropdown-content">
                    <a href="./#anime">Anime</a>
                    <a href="./#aventura">Aventura</a>
                    <a href="./#drama">Drama</a>
                    <a href="./#romance">Romance</a>
                    <!-- Adicione mais categorias conforme necessário -->
                </div>
            </li>
            <li> <a href="/favorites">Favoritos</a></li>
        </ul>
        <ul id="comp">
            <li> <a href="./">Home</a></li>
            <li> <a href="./#caixaApresetacao">Sobre</a></li>
            <li class="dropdown">
                <a href="#" class="dropbtn">Categoria</a>
                <div class="dropdown-content">
                    <a href="./#anime">Anime</a>
                    <a href="./#aventura">Aventura</a>
                    <a href="./#drama">Drama</a>
                    <a href="./#romance">Romance</a>
                    <!-- Adicione mais categorias conforme necessário -->
                </div>
            </li>
            <li> <a href="/favorites">Favoritos</a></li>
        </ul>
    </nav>
</header>
