<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <script src="/js/script.js" defer></script>
    <script type="text/javascript" src="https://www.google.com/books/jsapi.js"></script>
    <title>{{ title }}</title>
</head>
<body>
    <div class="container">
        {{> header}}  <!-- cabeçalho -->
        <main>
            {{{body}}}  <!-- Inclui o conteúdo main página -->
        </main>
        {{> footer}}  <!-- rodapé -->
    </div>
</body>
</html>